#conteudo-principal {
    padding: 0 0 40px 0;
    width: 100%;
}

.imagem-principal{
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.imagem-destaque{
    width: 100%;
    height: auto;
    display: block;
}

.caixa-texto{
    padding: 5px;
    text-align: center;
}

.descricao-destaque{
    font-size: 15px;
    line-height: 1.6;
    color: #444444;
    text-align: center;
}

@media (max-width: 768px) {
    .descricao-destaque {
        text-align: left;
        font-size: 14px;
    }
}